par défaut
html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}



/* images et logos */
.marge-logo {
    margin: 25px;
    margin-left: 35px;
}

.logo-img {
    width: 300px;
}

video {
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
    width: 35em;
    margin-bottom: 2em;
}


/* polices d'écritures */
body {
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

.style-h1 {
    font-family: Script MT, Brush Script Std, cursive;
    font-size: 5em;
    margin: 0;
    color: rgb(218, 229, 234);
}

.style-h2 {
    font-family: Script MT, Brush Script Std, cursive;
    font-size: 3em;
    margin: 0;
    color: rgb(218, 229, 234);
}

.style-h3 {
    font-size: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0em;
}

/* balise p */
.style-p {
    font-family: Script MT, Brush Script Std, cursive;
    font-size: larger;
}

.marge-p {
    margin: 0.3em;
}



/* séparation de section */
.cut-section {
    margin-bottom: 3em;
}



header {
    display: flex;
    flex-direction: column;
    background-image: url(../images/michel.jpg);
    background-size: cover;
}

.space-text-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
    margin-bottom: 250px;
}

.presentation {
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3em;
}

.local {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    display: flex;
}



/* .carte */
.grille {
    display: grid;
    column-gap: 1em;
    row-gap: 1em;
    grid-template-columns: auto auto auto;
    margin-bottom: 2em;
}

.grille .carte {
    background-color: white;
}

.carte {
    display: flex;
    flex-direction: column;
}

.img-carte {
    width: 350px;
}


